In [1]:
import pandas as pd
import numpy as np

In [3]:
a = np.random.randn(5,5)

In [4]:
a[1:4,:4] = 1.0

In [5]:
a

array([[-0.49831465, -0.01649794, -1.54498966,  1.69497096,  0.16924359],
       [ 1.        ,  1.        ,  1.        ,  1.        , -0.38855967],
       [ 1.        ,  1.        ,  1.        ,  1.        ,  0.66591371],
       [ 1.        ,  1.        ,  1.        ,  1.        , -1.33112643],
       [-1.97586882,  0.4866196 , -0.15518369, -1.00989534,  1.73574729]])

In [6]:
data = pd.read_excel('appsData.xlsx')

In [7]:
data

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0.0,Everyone,Art & Design,2018-01-07,1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0.0,Everyone,Art & Design;Pretend Play,2018-01-15,2.0.0,4.0.3 and up
2,"U Launcher Lite ?€? FREE Live Cool Themes, Hid...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0.0,Everyone,Art & Design,2018-08-01,1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0.0,Teen,Art & Design,2018-06-08,Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0.0,Everyone,Art & Design;Creativity,2018-06-20,1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0.0,Everyone,Education,2017-07-25,1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0.0,Everyone,Education,2018-07-06,1,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0.0,Everyone,Medical,2017-01-20,1,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0.0,Mature 17+,Books & Reference,2015-01-19,Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0.0,Everyone,Lifestyle,2018-07-25,Varies with device,Varies with device

In [8]:
data['Type'].unique()

array(['Free', 'Paid', nan], dtype=object)

In [9]:
data.dropna(subset = ['Type'], inplace = True)

In [10]:
data['Type'].unique()

array(['Free', 'Paid'], dtype=object)

In [11]:
data.isnull().any()

App                True
Category          False
Rating             True
Reviews           False
Size              False
Installs          False
Type              False
Price             False
Content Rating    False
Genres            False
Last Updated      False
Current Ver        True
Android Ver        True
dtype: bool

In [13]:
(data['Price']<0).any()

False

In [15]:
mask1 = (data['Type'] == 'Free') & (data['Price'] != 0.0)
mask2 = (data['Type'] == 'Paid') & (data['Price'] == 0.0)
data[mask1]

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated, Current Ver, Android Ver]
Index: []

In [32]:
a =data[data['Rating'].isnull()]['App'].count()

In [33]:
b=data['App'].count()

In [36]:
n = a/b

In [37]:
"{:.1%}".format(n)

'13.6%'

In [38]:
data.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [39]:
data['Last Updated'].dtype

dtype('<M8[ns]')

In [42]:
data.groupby(data['Last Updated'].dt.year).size().sort_values(ascending = False)

Last Updated
2018    7349
2017    1867
2016     804
2015     459
2014     209
2013     110
2012      26
2011      15
2010       1
dtype: int64

In [46]:
install = data[data['Reviews'] >= 100]

In [50]:
a = install.groupby('Installs')['Rating'].mean()

In [53]:
a.reindex(index = ['500+','1,000+'])

Installs
500+      4.633333
1,000+    4.397403
Name: Rating, dtype: float64

In [55]:
data.groupby('Genres')['Reviews'].sum().sort_values(ascending=False).head(10)

Genres
Communication    815462260
Social           621241422
Casual           412078863
Action           350303953
Arcade           336990433
Strategy         327198471
Tools            272842727
Photography      213516650
Sports           192877617
Shopping         115041222
Name: Reviews, dtype: int64

In [56]:
pd.crosstab(data['Type'],data['Content Rating'])

Content Rating,Adults only 18+,Everyone,Everyone 10+,Mature 17+,Teen,Unrated
Type,,,,,,
Free,3,8020,380,479,1156,2
Paid,0,695,33,20,52,0

In [58]:
data.pivot_table('Price', index = 'Category', columns = 'Content Rating').fillna('Not Applicable')

Content Rating,Adults only 18+,Everyone,Everyone 10+,Mature 17+,Teen,Unrated
Category,,,,,,
ART_AND_DESIGN,Not Applicable,0.097869,0.0,Not Applicable,0.0,Not Applicable
AUTO_AND_VEHICLES,Not Applicable,0.162289,0.0,Not Applicable,0.0,Not Applicable
BEAUTY,Not Applicable,0.000000,0.0,0.0,0.0,Not Applicable
BOOKS_AND_REFERENCE,Not Applicable,0.578119,0.0,0.0,0.142381,Not Applicable
BUSINESS,Not Applicable,0.416337,0.0,0.0,0.0,Not Applicable
COMICS,0.0,0.000000,0.0,0.0,0.0,Not Applicable
COMMUNICATION,Not Applicable,0.238116,Not Applicable,0.099,0.0,Not Applicable
DATING,Not Applicable,0.475238,Not Applicable,0.079453,0.456667,Not Applicable
EDUCATION,Not Applicable,0.124722,0.0,0.0,0.0,Not Applicable
ENTERTAINMENT,Not Applicable,0.127949,0.0,0.332222,0.0,Not Applicable
EVENTS,Not Applicable,2.075283,0.0,Not Applicable,0.0,Not Applicable
FAMILY,Not Applicable,1.427691,0.721462,0.8992,0.433295,0.0
FINANCE,Not Applicable,6.927535,Not Applicable,Not Applicable,79.998,Not Applicable
FOOD_AND_DRINK,Not Applicable,0.072479,0.0,Not Applicable,0.0,Not Applicable
GAME,Not Applicable,0.211628,0.251221,0.188649,0.337644,Not Applicable
HEALTH_AND_FITNESS,Not Applicable,0.219349,0.0,0.0,0.0,Not Applicable
HOUSE_AND_HOME,Not Applicable,0.000000,Not Applicable,Not Applicable,0.0,Not Applicable
LIBRARIES_AND_DEMO,Not Applicable,0.011647,Not Applicable,Not Applicable,Not Applicable,Not Applicable
LIFESTYLE,Not Applicable,6.820000,0.0,0.775556,0.043043,Not Applicable
MAPS_AND_NAVIGATION,Not Applicable,0.202632,0.0,0.0,0.0,Not Applicable
MEDICAL,Not Applicable,3.117647,3.332222,3.425714,1.598,Not Applicable
NEWS_AND_MAGAZINES,Not Applicable,0.017692,0.0,0.070714,0.0,Not Applicable
PARENTING,Not Applicable,0.165172,Not Applicable,0.0,0.0,Not Applicable
PERSONALIZATION,Not Applicable,0.478137,0.0,0.0,0.0,Not Applicable
PHOTOGRAPHY,Not Applicable,0.422044,Not Applicable,0.0,0.0,Not Applicable
PRODUCTIVITY,Not Applicable,0.597191,0.0,4.29,0.0,Not Applicable
SHOPPING,Not Applicable,0.026346,Not Applicable,0.0,0.0,Not Applicable
SOCIAL,Not Applicable,0.019604,0.0,0.0,0.11192,Not Applicable
SPORTS,0.0,0.295858,0.0,0.0,0.0,Not Applicable
TOOLS,Not Applicable,0.316100,Not Applicable,1.495,0.0,0.0
TRAVEL_AND_LOCAL,Not Applicable,0.199004,Not Applicable,0.0,0.0,Not Applicable
VIDEO_PLAYERS,Not Applicable,0.071644,0.0,0.0,0.0,Not Applicable
WEATHER,Not Applicable,0.415641,0.0,0.0,0.0,Not Applicable

In [59]:
data.pivot_table('Reviews', index = ['Content Rating','Type'], columns = data['Last Updated'].dt.year).fillna('Not Applicable')

Last Updated                    2010            2011            2012  \
Content Rating  Type
Adults only 18+ Free  Not Applicable  Not Applicable  Not Applicable
Everyone        Free          1415.0          5218.0    14066.421053
                Paid  Not Applicable      102.666667            43.6
Everyone 10+    Free  Not Applicable         38767.0  Not Applicable
                Paid  Not Applicable  Not Applicable  Not Applicable
Mature 17+      Free  Not Applicable  Not Applicable          1696.0
                Paid  Not Applicable  Not Applicable  Not Applicable
Teen            Free  Not Applicable        144545.0  Not Applicable
                Paid  Not Applicable  Not Applicable  Not Applicable
Unrated         Free  Not Applicable  Not Applicable          1186.0

Last Updated                    2013            2014            2015  \
Content Rating  Type
Adults only 18+ Free  Not Applicable  Not Applicable  Not Applicable
Everyone        Free    19822.535211     9752.083333    30434.391026
                Paid        1522.875         2686.96      647.380282
Everyone 10+    Free  Not Applicable     1934.666667    36566.470588
                Paid           753.0          2496.0     5169.333333
Mature 17+      Free        213211.5        579427.0         11774.8
                Paid  Not Applicable          1533.0        174489.5
Teen            Free        212862.5        268067.0    63388.904762
                Paid        3.333333         37315.4    17948.333333
Unrated         Free  Not Applicable  Not Applicable             1.0

Last Updated                    2016            2017            2018
Content Rating  Type
Adults only 18+ Free  Not Applicable  Not Applicable         27116.0
Everyone        Free    29686.722789    66334.092862   491055.406686
                Paid       6334.6375     1897.509202     6091.498328
Everyone 10+    Free    224602.52381    61465.121212  2201448.216393
                Paid    22443.333333     2368.571429   382390.230769
Mature 17+      Free    17593.684211    17823.204545   476638.145679
                Paid           672.5     4590.333333    46200.333333
Teen            Free    23696.085366    87587.469512  1306888.432113
                Paid         14362.5          3278.1     7112.666667
Unrated         Free  Not Applicable  Not Applicable  Not Applicable

In [3]:
import pandas as pd
import numpy as np

In [5]:
z = np.random.randn(6,5)
z.sort(1)

In [6]:
z

array([[-0.95286291, -0.80014047, -0.78773416, -0.60940241, -0.00478896],
       [-1.69489647, -0.36175171,  0.01530691,  0.60319593,  1.18856516],
       [-0.97977572,  0.3556122 ,  0.77476496,  1.57983821,  2.21461965],
       [-1.51435042, -1.33541112, -0.73449592, -0.66244098, -0.43128808],
       [-0.11186063,  0.50795665,  0.99078997,  1.19201683,  1.95942495],
       [-2.49377559, -0.42693703,  0.08862676,  0.18067279,  1.12873308]])

In [7]:
nba = pd.read_csv('nba.csv')
nba.isnull().any()

Unnamed: 0                  False
Team                        False
Game                        False
Date                        False
Home                        False
Opponent                    False
WINorLOSS                   False
TeamPoints                  False
OpponentPoints              False
FieldGoals                  False
FieldGoalsAttempted         False
FieldGoals.                 False
X3PointShots                False
X3PointShotsAttempted       False
X3PointShots.               False
FreeThrows                  False
FreeThrowsAttempted         False
FreeThrows.                 False
OffRebounds                 False
TotalRebounds               False
Assists                     False
Steals                      False
Blocks                      False
Turnovers                   False
TotalFouls                  False
Opp.FieldGoals              False
Opp.FieldGoalsAttempted     False
Opp.FieldGoals.             False
Opp.3PointShots             False
Opp.3PointShotsAttempted    False
Opp.3PointShots.            False
Opp.FreeThrows              False
Opp.FreeThrowsAttempted     False
Opp.FreeThrows.             False
Opp.OffRebounds             False
Opp.TotalRebounds           False
Opp.Assists                 False
Opp.Steals                  False
Opp.Blocks                  False
Opp.Turnovers               False
Opp.TotalFouls              False
dtype: bool

In [8]:
nba['Date'].dtype

dtype('O')

In [10]:
nba['Date'] = pd.to_datetime(nba['Date'])
nba['Date'].dtype

dtype('<M8[ns]')

In [11]:
nba['Date'] = nba['Date'].dt.year
nba

,Unnamed: 0,Team,Game,Date,Home,Opponent,WINorLOSS,TeamPoints,OpponentPoints,FieldGoals,...,Opp.FreeThrows,Opp.FreeThrowsAttempted,Opp.FreeThrows.,Opp.OffRebounds,Opp.TotalRebounds,Opp.Assists,Opp.Steals,Opp.Blocks,Opp.Turnovers,Opp.TotalFouls
0,1,ATL,1,2014,Away,TOR,L,102,109,40,...,27,33,0.818,16,48,26,13,9,9,22
1,2,ATL,2,2014,Home,IND,W,102,92,35,...,18,21,0.857,11,44,25,5,5,18,26
2,3,ATL,3,2014,Away,SAS,L,92,94,38,...,27,38,0.711,11,50,25,7,9,19,15
3,4,ATL,4,2014,Away,CHO,L,119,122,43,...,20,27,0.741,11,51,31,6,7,19,30
4,5,ATL,5,2014,Home,NYK,W,103,96,33,...,8,11,0.727,13,44,26,2,6,15,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9835,78119,WAS,78,2018,Away,HOU,L,104,120,38,...,18,27,0.667,10,46,26,13,3,9,14
9836,79119,WAS,79,2018,Away,CLE,L,115,119,47,...,22,28,0.786,5,35,26,10,3,16,14
9837,80119,WAS,80,2018,Home,ATL,L,97,103,35,...,16,23,0.696,7,50,24,5,5,18,22
9838,81124,WAS,81,2018,Home,BOS,W,113,101,41,...,22,27,0.815,13,44,22,14,1,16,18
9839,82119,WAS,82,2018,Away,ORL,L,92,101,33,...,22,27,0.815,6,42,20,6,7,16,27

In [12]:
team = input('Enter a team:')

Enter a team:HOU

In [15]:
hou = nba[nba['Team']==team]

In [16]:
hou.groupby(['Date','Home'])['TeamPoints'].mean()

Date  Home
2014  Away    105.285714
      Home     97.470588
2015  Away    103.666667
      Home    106.534884
2016  Away    110.622222
      Home    111.526316
2017  Away    113.105263
      Home    117.500000
2018  Away    109.120000
      Home    111.454545
Name: TeamPoints, dtype: float64

In [30]:
nba

,Unnamed: 0,Team,Game,Date,Home,Opponent,WINorLOSS,TeamPoints,OpponentPoints,FieldGoals,...,Opp.FreeThrows,Opp.FreeThrowsAttempted,Opp.FreeThrows.,Opp.OffRebounds,Opp.TotalRebounds,Opp.Assists,Opp.Steals,Opp.Blocks,Opp.Turnovers,Opp.TotalFouls
0,1,ATL,1,1970-01-01 00:00:00.000002014,Away,TOR,L,102,109,40,...,27,33,0.818,16,48,26,13,9,9,22
1,2,ATL,2,1970-01-01 00:00:00.000002014,Home,IND,W,102,92,35,...,18,21,0.857,11,44,25,5,5,18,26
2,3,ATL,3,1970-01-01 00:00:00.000002014,Away,SAS,L,92,94,38,...,27,38,0.711,11,50,25,7,9,19,15
3,4,ATL,4,1970-01-01 00:00:00.000002014,Away,CHO,L,119,122,43,...,20,27,0.741,11,51,31,6,7,19,30
4,5,ATL,5,1970-01-01 00:00:00.000002014,Home,NYK,W,103,96,33,...,8,11,0.727,13,44,26,2,6,15,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9835,78119,WAS,78,1970-01-01 00:00:00.000002018,Away,HOU,L,104,120,38,...,18,27,0.667,10,46,26,13,3,9,14
9836,79119,WAS,79,1970-01-01 00:00:00.000002018,Away,CLE,L,115,119,47,...,22,28,0.786,5,35,26,10,3,16,14
9837,80119,WAS,80,1970-01-01 00:00:00.000002018,Home,ATL,L,97,103,35,...,16,23,0.696,7,50,24,5,5,18,22
9838,81124,WAS,81,1970-01-01 00:00:00.000002018,Home,BOS,W,113,101,41,...,22,27,0.815,13,44,22,14,1,16,18
9839,82119,WAS,82,1970-01-01 00:00:00.000002018,Away,ORL,L,92,101,33,...,22,27,0.815,6,42,20,6,7,16,27

In [31]:
nba1 = pd.read_csv('nba.csv')

In [32]:
nba1

,Unnamed: 0,Team,Game,Date,Home,Opponent,WINorLOSS,TeamPoints,OpponentPoints,FieldGoals,...,Opp.FreeThrows,Opp.FreeThrowsAttempted,Opp.FreeThrows.,Opp.OffRebounds,Opp.TotalRebounds,Opp.Assists,Opp.Steals,Opp.Blocks,Opp.Turnovers,Opp.TotalFouls
0,1,ATL,1,2014-10-29,Away,TOR,L,102,109,40,...,27,33,0.818,16,48,26,13,9,9,22
1,2,ATL,2,2014-11-01,Home,IND,W,102,92,35,...,18,21,0.857,11,44,25,5,5,18,26
2,3,ATL,3,2014-11-05,Away,SAS,L,92,94,38,...,27,38,0.711,11,50,25,7,9,19,15
3,4,ATL,4,2014-11-07,Away,CHO,L,119,122,43,...,20,27,0.741,11,51,31,6,7,19,30
4,5,ATL,5,2014-11-08,Home,NYK,W,103,96,33,...,8,11,0.727,13,44,26,2,6,15,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9835,78119,WAS,78,2018-04-03,Away,HOU,L,104,120,38,...,18,27,0.667,10,46,26,13,3,9,14
9836,79119,WAS,79,2018-04-05,Away,CLE,L,115,119,47,...,22,28,0.786,5,35,26,10,3,16,14
9837,80119,WAS,80,2018-04-06,Home,ATL,L,97,103,35,...,16,23,0.696,7,50,24,5,5,18,22
9838,81124,WAS,81,2018-04-10,Home,BOS,W,113,101,41,...,22,27,0.815,13,44,22,14,1,16,18
9839,82119,WAS,82,2018-04-11,Away,ORL,L,92,101,33,...,22,27,0.815,6,42,20,6,7,16,27

In [33]:
nba1['Date'] = pd.to_datetime(nba1['Date'])
nba1['Date'] = nba1['Date'].dt.year

In [34]:
nba1

,Unnamed: 0,Team,Game,Date,Home,Opponent,WINorLOSS,TeamPoints,OpponentPoints,FieldGoals,...,Opp.FreeThrows,Opp.FreeThrowsAttempted,Opp.FreeThrows.,Opp.OffRebounds,Opp.TotalRebounds,Opp.Assists,Opp.Steals,Opp.Blocks,Opp.Turnovers,Opp.TotalFouls
0,1,ATL,1,2014,Away,TOR,L,102,109,40,...,27,33,0.818,16,48,26,13,9,9,22
1,2,ATL,2,2014,Home,IND,W,102,92,35,...,18,21,0.857,11,44,25,5,5,18,26
2,3,ATL,3,2014,Away,SAS,L,92,94,38,...,27,38,0.711,11,50,25,7,9,19,15
3,4,ATL,4,2014,Away,CHO,L,119,122,43,...,20,27,0.741,11,51,31,6,7,19,30
4,5,ATL,5,2014,Home,NYK,W,103,96,33,...,8,11,0.727,13,44,26,2,6,15,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9835,78119,WAS,78,2018,Away,HOU,L,104,120,38,...,18,27,0.667,10,46,26,13,3,9,14
9836,79119,WAS,79,2018,Away,CLE,L,115,119,47,...,22,28,0.786,5,35,26,10,3,16,14
9837,80119,WAS,80,2018,Home,ATL,L,97,103,35,...,16,23,0.696,7,50,24,5,5,18,22
9838,81124,WAS,81,2018,Home,BOS,W,113,101,41,...,22,27,0.815,13,44,22,14,1,16,18
9839,82119,WAS,82,2018,Away,ORL,L,92,101,33,...,22,27,0.815,6,42,20,6,7,16,27

In [35]:
_2017 = nba1[nba1['Date']==2017]
pd.crosstab(_2017['Team'],_2017['WINorLOSS'])

WINorLOSS   L   W
Team
ATL        49  36
BOS        25  63
BRK        61  25
CHI        46  38
CHO        54  30
CLE        36  50
DAL        50  36
DEN        40  45
DET        40  42
GSW        18  67
HOU        27  55
IND        40  45
LAC        36  45
LAL        56  25
MEM        50  33
MIA        34  50
MIL        39  45
MIN        43  43
NOP        45  38
NYK        52  33
OKC        39  46
ORL        59  26
PHI        49  37
PHO        58  28
POR        37  45
SAC        55  30
SAS        27  59
TOR        31  53
UTA        39  46
WAS        33  54

In [36]:
nba1.pivot_table('TeamPoints', index = 'Team', columns = 'Date')

Date        2014        2015        2016        2017        2018
Team
ATL   102.161290  102.470588  102.827160  103.941176  102.934783
BOS   103.344828  101.352941  106.880952  106.659091  104.547619
BRK    96.806452   98.108434  102.134146  106.383721  105.934783
CHI   102.468750  100.225000  101.406977  102.797619  104.826087
CHO    95.272727   96.925000  104.329412  104.607143  111.347826
CLE   101.500000  102.487500  108.500000  110.011628  111.478261
DAL   109.606061  102.259259   99.392857  100.406977  103.431818
DEN   101.500000  100.433735  105.487805  111.294118  112.217391
DET    95.967742  100.571429  100.750000  102.878049  104.978723
GSW   108.066667  112.190476  116.059524  115.129412  112.066667
HOU   101.000000  105.117647  111.036145  115.463415  110.212766
IND    94.878788  100.456790  102.726190  106.317647  104.400000
LAC   105.878788  105.481928  106.654762  107.604938  111.574468
LAL   102.562500   96.192771  100.364706  106.037037  108.638298
MEM   102.064516   96.200000   99.940476  100.530120   99.822222
MIA    94.696970   95.562500  100.517647  103.904762  105.782609
MIL    99.363636   97.204819  102.025000  103.535714  107.645833
MIN    98.366667   98.458824  104.036585  107.395349  110.311111
NOP   101.593750   99.378049  103.176471  107.927711  112.152174
NYK    94.117647   93.444444  101.353659  103.600000  105.130435
OKC    99.151515  107.780488  109.265060  105.352941  111.400000
ORL    93.942857   98.632911  101.130952  103.682353  102.111111
PHI    90.600000   92.674419  100.137500  106.162791  110.978261
PHO   106.500000  100.903614  102.246914  107.476744  102.272727
POR   103.969697  101.654762  107.902439  105.390244  108.574468
SAC   101.937500  102.207317  105.602410  100.741176  100.282609
SAS   102.147059  103.134146  104.839506  103.593023  104.022222
TOR   108.125000  100.734940  107.074074  106.892857  112.375000
UTA    96.250000   95.407407   98.435294  101.635294  106.555556
WAS   100.193548   98.987654  105.607143  109.241379  106.888889

In [45]:
_2017['Diff'] = _2017['TeamPoints'] - _2017['OpponentPoints']

/var/folders/gt/ndv7xrg17c95c6s42ycl5ch40000gn/T/ipykernel_2599/686184369.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _2017['Diff'] = _2017['TeamPoints'] - _2017['OpponentPoints']

In [47]:
_2017.groupby('Team')['Diff'].mean().sort_values(ascending=False)

Team
GSW    10.423529
HOU     6.012195
SAS     5.360465
TOR     4.285714
BOS     3.977273
WAS     2.839080
LAC     2.049383
UTA     1.952941
DEN     1.776471
MIA     1.619048
POR     1.536585
CLE     1.488372
OKC     1.329412
MIN     0.511628
IND     0.458824
DET    -0.560976
NOP    -0.795181
MIL    -1.285714
MEM    -1.421687
CHO    -1.583333
DAL    -1.651163
ATL    -1.870588
CHI    -1.940476
NYK    -2.470588
PHI    -2.860465
BRK    -4.337209
PHO    -5.581395
LAL    -5.913580
SAC    -6.458824
ORL    -6.988235
Name: Diff, dtype: float64

In [50]:
nba1.pivot_table('Diff', index= 'Team', columns = 'Date', aggfunc=['max','min'])

      max                      min
Date 2014 2015 2016 2017 2018 2014 2015 2016 2017 2018
Team
ATL    30   32   38   46   26  -33  -25  -44  -34  -29
BOS    22   39   30   30   30  -22  -31  -25  -23  -22
BRK    31   37   18   35   28  -25  -39  -34  -39  -34
CHI    25   35   32   47   19  -18  -25  -31  -49  -39
CHO    28   28   34   40   61  -30  -39  -29  -27  -28
CLE    33   39   38   32   25  -29  -39  -34  -35  -34
DAL    53   30   27   49   34  -21  -33  -38  -42  -27
DEN    25   29   19   32   33  -30  -43  -33  -30  -32
DET    23   39   36   30   34  -22  -24  -43  -33  -36
GSW    40   50   45   49   46  -14  -23  -32  -22  -40
HOU    19   36   49   39   32  -26  -28  -31  -29  -17
IND    25   37   24   25   39  -23  -22  -37  -28  -26
LAC    28   39   40   42   23  -17  -30  -26  -46  -22
LAL    15   18   27   27   25  -34  -40  -48  -49  -37
MEM    26   36   34   20   18  -14  -50  -49  -25  -61
MIA    18   24   24   28   29  -24  -36  -30  -29  -24
MIL    30   23   27   25   25  -42  -37  -29  -32  -35
MIN    16   20   36   28   28  -48  -26  -27  -28  -24
NOP    48   28   21   28   28  -27  -36  -35  -33  -24
NYK    16   25   31   29   24  -27  -38  -36  -23  -30
OKC    27   40   34   32   37  -31  -39  -34  -28  -32
ORL    16   24   34   28   24  -32  -35  -37  -47  -37
PHI     8   20   25   42   36  -53  -51  -38  -34  -15
PHO    26   24   21   36   27  -27  -33  -40  -48  -48
POR    26   30   37   48   24  -15  -26  -45  -23  -25
SAC    22   38   31   25   15  -22  -27  -35  -46  -26
SAS    29   51   31   40   48  -17  -23  -30  -27  -24
TOR    42   25   44   34   34  -14  -24  -22  -35  -11
UTA    27   35   48   47   40  -23  -37  -30  -28  -19
WAS    30   37   43   27   25  -27  -38  -27  -47  -27

In [55]:
a = nba[nba['WINorLOSS']=='W']
a.groupby(['Team','Date']).size()

Team  Date
ATL   1970-01-01 00:00:00.000002014    23
      1970-01-01 00:00:00.000002015    58
      1970-01-01 00:00:00.000002016    44
      1970-01-01 00:00:00.000002017    36
      1970-01-01 00:00:00.000002018    14
                                       ..
WAS   1970-01-01 00:00:00.000002014    22
      1970-01-01 00:00:00.000002015    38
      1970-01-01 00:00:00.000002016    43
      1970-01-01 00:00:00.000002017    54
      1970-01-01 00:00:00.000002018    22
Length: 150, dtype: int64